{% extends "layout.html" %}
{% block content %}

<section class="project-section dark-mode" id="ai">

  <h1 class="big-heading dark-mode text-center">Artificial Intelligence: Flappy Bird + NEAT</h1>

  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-lg-6 pb-4">

        <p>
          Uses of AI in devices like Siri and Alexa piqued my interest in the field as I began my programming journey.
          I thought training a Neural Network (NN) on a game I made would be great hands on experience in understanding the inner-workings of this technology.
        </p>

        <ul>
          <li class="angle-bracket">pygame: screen rendering and player movement.</li>
          <li class="angle-bracket"><a target="_blank" href="https://en.wikipedia.org/wiki/Neuroevolution_of_augmenting_topologies"><span class="blue">NEAT</span></a>: evolving artificial neural networks.</li>
          <li class="angle-bracket">Best performing NNs mutate for the next generation.</li>
          <li class="angle-bracket">Since Flappy Bird is simple, NNs adapt quickly.</li>
        </ul>
      </div>

      <div class="col-lg-6 text-center">
        <video width="380px" class="flappy-bird rounded box-shadow" controls poster="{{ url_for('static', filename='flappy/flappy-poster.png') }}">
          <source src="{{ url_for('static', filename='flappy/flappy.mp4') }}" type="video/mp4">
        </video>
      </div>

    </div>

  </div>

</section>

{% endblock content %}
