{% extends "layout.html" %}
{% block content %}

<section class="dark-mode project-section">

  <h1 class="big-heading dark-mode text-center">Fuzzy Logic Control</h1>

  <div class="">

    <p>
      My third year independent research project (IRP) was involved in the traction control subsystem of an 800V electric vehicle.
      The research involved modelling the EV powertrain using Simulink, and then designing a controller to modulate the output torque of the electric motor.
      <a href="https://www.mathworks.com/help/fuzzy/what-is-fuzzy-logic.html" target="_blank"><span class="blue">Fuzzy Logic</span></a> Control is a popular method to reduce torque ripples within the motor; however, the implementation of FLC can be complex as it involves programming the controller behaviour using rules.
      The graphs below show that FLC was successful in reducing torque ripples and decreasing the settling time of the system.
    </p>

    <ul>
      <li class="angle-bracket">The full research paper can be viewed <a href="{{ url_for('static', filename='fuzzy/fuzzy-paper.pdf') }}" target="_blank"><span class="blue">here</span></a>.</li>
    </ul>

    <p>From my IRP I learnt:</p>

    <ul>
      <li class="angle-bracket">to manage my workload using a project plan.</li>
      <li class="angle-bracket">to deal with setbacks and delays.</li>
      <li class="angle-bracket">to critically review literature.</li>
      <li class="angle-bracket">to document my research - progress and failures.</li>
    </ul>

    <div class="row">

      <div class="col-xl-6 text-center my-4">
        <img class="rounded box-shadow mb-2" src="{{ url_for('static', filename='fuzzy/foc-iqref.png') }}" width="90%">
        <figcaption>Results with PID control</figcaption>
      </div>

      <div class="col-xl-6 text-center my-4">
        <img class="rounded box-shadow mb-2" src="{{ url_for('static', filename='fuzzy/fuzzy-iqref.png') }}" width="90%">
        <figcaption>Results with Fuzzy Logic Control</figcaption>
      </div>

    </div>

  </div>

</section>

{% endblock content %}
