{% extends "layout.html" %}
{% block content %}

<section class="dark-mode project-section">

  <h1 class="big-heading dark-mode text-center">finn formica website</h1>

  <ul>
    <li class="angle-bracket">This website itself has been a huge undertaking for me, bringing together many different skills and projects into a single application.</li>
    <li class="angle-bracket">The front-end design has been assisted through the use of Bootstrap whilst the back-end has utilised Flask.</li>
    <li class="angle-bracket">Throughout this project I have learnt so much, especially in regards to styling and placing elements and creating custom elements (like the dark theme toggle).</li>
    <li class="angle-bracket">I have also learnt some nice tricks to make coding this application much easier, such as using two different stylesheets for light and dark themes instead of my previous attempt of using different classes.</li>
    <li class="angle-bracket">I have struggled with passing variables from Flask to JavaScript and back again the most, like with the Bitcoin Risk Metric which uses Chart.js to display the figure but flask to fetch data and calculate volatility.</li>
  </ul>
</section>

{% endblock content %}
